<h1 align="center"> Listing all articles  </h1>
  <div align = "center " , class="card card-body bg-light col-sm-4 pagination22" >
    <%= will_paginate %>
  </div>



<%= render 'article', obj: @articles %>

<div align = "center" , class="card card-body bg-light col-sm-4 pagination22" >
  <%= will_paginate %>
</div>
