<!DOCTYPE html>
<html lang="">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="">



    <!-- <style>
        p {
            display: inline-block;
        }



        .right {
            text-align: right;
            width: 45%;
            float: right;
            /*            height: 300px;*/
            /*            padding-top: 100px;*/
            padding-right: 50px;
            padding-left: 10px;
        }

        .left {
            text-align: left;
            width: 45%;
            float: left;
            /*            height: 300px;*/
            /*            padding-top: 100px;*/
            padding-right: 50px;
            padding-left: 20px;
        }

    </style> -->
</head>

<body>


  <div class="jumbotron center">
  <h1 class="display-4">Alpha-Blog</h1>
  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->

  <%= link_to "Sign up now", signup_path , class: "btn btn-info btn-lg" %>
  </div>


  <!-- <div class="container-fluid" style="padding-top: 20px;height: 150px;">
    <div class="row" style="background-color: lightgray">

      <p class="left" >
      Hi! My Self Humayun. I am a Computer Scientist & a Professional Full-Stack web developer.
      I have years of experience in web development. I am Working on Rails from 2019 & have a
      grip on the Front end web development. Moreover, i have the experience of making professional
      and Responsive Websites on WordPress.

      </p>

      <p style="width: 1px;height: 140px;text-align: center;background-color: black;padding-bottom: 2px">
      </p>

      <p class="right">
      Hi! our company is working on different platforms , if your want to develope your complete
      application we are here to help you buisness grow and will make a professional android
      application as well as web applicaiton.
      </p>

    </div>
  </div> -->





</body>

</html>
